<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex items-center gap-3">
          <img src="/logo.png" class="h-12 w-auto" alt="Logo Octagen" />
          <h1 class="font-bold text-xl text-gray-800">Octagen</h1>
        </div>

        <p class="mt-4 max-w-xs text-gray-500">
          Mọi thắc mắc vui lòng liên hệ<br>
          Octagen&#64;gmail.com <br>
          Điện thoại: +158 996 888<br>
          Địa chỉ: 123 Đường, Nhà số 256
        </p>

        <ul class="mt-8 flex gap-6">
          <li>
            <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75">
              <span class="sr-only">Facebook</span>
              <!-- Facebook icon -->
            </a>
          </li>

          <li>
            <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75">
              <span class="sr-only">Instagram</span>
              <!-- Instagram icon -->
            </a>
          </li>

          <li>
            <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75">
              <span class="sr-only">Twitter</span>
              <!-- Twitter icon -->
            </a>
          </li>

          <li>
            <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75">
              <span class="sr-only">GitHub</span>
              <!-- GitHub icon -->
            </a>
          </li>

          <li>
            <a href="#" rel="noreferrer" target="_blank" class="text-gray-700 transition hover:opacity-75">
              <span class="sr-only">Dribbble</span>
              <!-- Dribbble icon -->
            </a>
          </li>
        </ul>
      </div>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4">
        <div>
          <p class="font-medium text-gray-900">Dịch Vụ</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Hỗ Trợ Đặt Hàng & Giao Hàng </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Hướng Dẫn Sử Dụng Thực Phẩm Bổ Sung </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Gợi Ý Sản Phẩm </a></li>
          </ul>
        </div>

        <div>
          <p class="font-medium text-gray-900">Công Ty</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Về Octagen </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Câu Chuyện Của Chúng Tôi </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Gặp Gỡ Đội Ngũ </a></li>
          </ul>
        </div>

        <div>
          <p class="font-medium text-gray-900">Liên Kết Hữu Ích</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Liên Hệ </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Câu Hỏi Thường Gặp </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Trò Chuyện Trực Tuyến </a></li>
          </ul>
        </div>

        <div>
          <p class="font-medium text-gray-900">Pháp Lý</p>
          <ul class="mt-6 space-y-4 text-sm">
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Chính Sách Bảo Mật </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Điều Khoản & Điều Kiện </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Chính Sách Hoàn Trả & Đổi Trả </a></li>
            <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Trợ Năng </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center py-4 text-sm text-gray-600">
    © <a href="/" class="underline hover:text-black">Octagen</a> {{ Istoday | date: 'yyyy' }}, Bảo lưu mọi quyền.
  </div>
</footer>
