

<header  class="absolute inset-x-0 top-0 z-50">
  <nav class="custom-nav fixed top-0 w-full flex items-center justify-between p-5 lg:px-8 transition-colors duration-300"
  [ngClass]="{
    'bg-transparent': isHomePage && !isScroll,
    'bg-black': !isHomePage || isScroll
  }"
  aria-label="Global">

  <div class="flex lg:flex-1 items-center gap-2">
    <a routerLink="/" class="-m-1.5 p-1.5 flex items-center gap-2 no-underline-hover">
        <img src="/logo.png" class="h-12 w-auto" alt="Vireya Logo">
        <span class="firm-name text-white">Vireya</span>
      </a>
  </div>

    <div class="flex lg:hidden">
      <button type="button" (click)="mobileMenuOpen=true" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="product-page" class="text-sm/6 font-semibold text-gray-900">Our Products Range</a>
      <a routerLink="contact-us" class="text-sm/6 font-semibold text-gray-900">Contact Vireya</a>
      <a routerLink="aboutUs-page" class="text-sm/6 font-semibold text-gray-900">About Vireya</a>
      <a routerLink="login-page" class="text-sm/6 font-semibold text-gray-900">Join Vireya's Family</a>
      <a routerLink="cart-page" class="relative flex items-center gap-2 text-gray-900 hover:text-green-600" aria-label="Cart">
        <span>Your Cart </span>
        <div class="relative">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l1.6 8m8-8l-1.6 8M6 21h.01M18 21h.01" />
          </svg>
          <span class="absolute -top-1.5 -right-1.5 bg-black text-white text-[10px] font-semibold rounded-full w-5 h-5 flex items-center justify-center leading-none">
            {{ cartItemCount }}
          </span>

          </div>
      </a>

    </div>
  </nav>
   @if(mobileMenuOpen){
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a routerLink="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Vireya</span>
            <p class ='firm-name h-8 w-auto'>Vireya</p>
          </a>
          <button type="button" (click)="mobileMenuOpen=false" class="-m-2.5 rounded-md p-2.5 text-black">
            <span class="sr-only">Close menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class=" space-y-2 py-6">
              <a routerLink="product-page" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Our Product Range</a>
              <a routerLink="contact-us" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Contact Vireya</a>
              <a routerLink="aboutUs-page" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Who We Are</a>
              <a routerLink="login-page" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Join Vireya's Family</a>
              <a routerLink="cart-page" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">
                Cart
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
   }
</header>


